[bumpversion]
current_version = 1.0.0
commit = True
tag = True

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:README.md]
search = Version: {current_version}
replace = Version: {new_version}

[bumpversion:file(mcp-img):docker/Dockerfile]
search = audio-transcriber[mcp]>={current_version}
replace = audio-transcriber[mcp]>={new_version}

[bumpversion:file(agent-img):docker/Dockerfile]
search = audio-transcriber[agent]>={current_version}
replace = audio-transcriber[agent]>={new_version}

[bumpversion:file:audio_transcriber/agent_server.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:audio_transcriber/mcp_server.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:audio_transcriber/audio_transcriber.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"
