[bumpversion]
current_version = 0.6.12
commit = True
tag = True

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:README.md]
search = Version: {current_version}
replace = Version: {new_version}

[bumpversion:file:Dockerfile]
search = audio-transcriber[all]>={current_version}
replace = audio-transcriber[all]>={new_version}

[bumpversion:file:audio_transcriber/audio_transcriber_agent.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:audio_transcriber/audio_transcriber_mcp.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"

[bumpversion:file:audio_transcriber/audio_transcriber.py]
search = __version__ = "{current_version}"
replace = __version__ = "{new_version}"
