services:
  personaplex:
    build:
      context: .
      dockerfile: personaplex.Dockerfile
    container_name: personaplex
    hostname: personaplex
    ports:
      - "8998:8998"
    environment:
      - HF_TOKEN=${HF_TOKEN}
    volumes:
      - ./mcp/huggingface_cache:/root/.cache/huggingface
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: 1
              capabilities: [ gpu ]
    restart: unless-stopped
    healthcheck:
      test: [ "CMD", "curl", "-k", "https://localhost:8998" ]
      interval: 30s
      timeout: 10s
      retries: 3
